
.m1 {
    font-size: 30px;
    text-align: start;
    align-items: center;
    align-content: center;
    padding: 40px;
    color: #ffffff;
    font-family: "Archivo Black", sans-serif;
    height: 30vh;
    background-color: #007bff;

  }